In [1]:
# Importing module
import mysql.connector
 
# Creating connection object
conn = mysql.connector.connect(
    host = "localhost",
    port = 3306,
    user = "root",
    password = "0123456",
    database = 'mysql'
)
#Creating a cursor object using the cursor() method.
cursor = conn.cursor()

#Dropping customer table if already exists.
cursor.execute("drop table if exists customer")

#Creating table as per requirement
sql = "CREATE TABLE customer (customer_id INT NOT NULL,customer_name CHAR(20),city CHAR(20), grade INT, deliveryagent_id INT)"

cursor.execute(sql)

In [2]:
#Preparing SQL query to insert a record  into the database.
insert_stmt = ("INSERT INTO customer (customer_id, customer_name, city, grade, deliveryagent_id)"
                "VALUES(%s, %s, %s, %s, %s)"
              )
data = [
     (3002, 'Nick Rimando', 'New York', 100,5001),
     (3007, 'Brad Davis', 'New York', 200, 5001),
     (3005, 'Graham Zusi', 'California', 200,5002),
     (3008, 'Julian Green', 'London', 300, 5002),
     (3004, 'Fabian Johnson', 'Paris', 300,5006),
     (3009, 'Geoff Cameron', 'Berlin', 200, 5003),
     (3003, ' Jozy Altidor', 'Moscow', 100,5007),
     (3001, 'Brad Guzan', 'London', 200, 5005),
    ]

try:
    #Executing the SQL command
    cursor.execute(insert_stmt, data)
    
    #Commit your changes in the database
    conn.commit()
    
except:
    #Rolling back in case of error
    conn.rollback()
    
print("Data Inserted")

Data Inserted

In [3]:
#Dropping customer table if already exists.
cursor.execute("drop table if exists deliveryagent")

#Creating table as per requirement
sql = "CREATE TABLE deliveryagent (deliveryagent_id INT NOT NULL,name CHAR(20),city CHAR(20),commission FLOAT)"

cursor.execute(sql)

In [4]:
#Preparing SQL query to insert a record  into the database.
insert_stmt = ("INSERT INTO customer (deliveryagent_id, name, deliveryagent_city, grade, commission)"
                "VALUES(%s, %s, %s, %s)"
              )
data = [
     (5001, 'James Hoog', 'New York',0.15),
     (5002, ' Nail Knite', 'Paris', 0.13),
     (5005, 'Pit Alex', 'London', 0.11),
     (5006, 'Mc Lyon', 'Paris', 0.14),
     (5007, 'Paul Adam', 'Rome', 0.13),
     (5003, 'Lauson Hen', 'San Jose', 0.12),

    ]

try:
    #Executing the SQL command
    cursor.execute(insert_stmt, data)
    
    #Commit your changes in the database
    conn.commit()
    
except:
    #Rolling back in case of error
    conn.rollback()
    
print("Data Inserted")

Data Inserted

In [8]:
qur = ("SELECT customer_name, city, grade, deliveryagent_id, deliveryagent_city FROM customer, deliveryagent WHERE customer.deliveryagent_id=deliveryagent.deliveryagent_id order by a.customer_id")

cursor.execute(qur)

IntegrityError: 1052 (23000): Column 'deliveryagent_id' in field list is ambiguous